<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar usuario MySQL</title>
</head>
<body>
    <h1>Agregar usuario en MySQL</h1>

    <form method="POST">
        <label>Nombre:</label><br>
        <input type="text" name="nombre" required><br><br>

        <label>Mail:</label><br>
        <input type="email" name="mail" required><br><br>

        <label>Password:</label><br>
        <input type="text" name="password" required><br><br>

        <button type="submit">Guardar usuario</button>
    </form>

    <br>
    <a href="/usuarios_mysql">Ver usuarios</a>
    <br>
    <a href="/">Volver al inicio</a>
</body>
</html>