{% extends "base.html" %}

{% block content %}

<h1>Bienvenido a la Tienda Online</h1>
<p>Este es el catálogo principal de productos.</p>

<div class="cards">
    {% for p in productos %}
        <div class="card">
            <h3>{{ p.nombre }}</h3>
            <p><strong>Precio:</strong> ${{ "%.2f"|format(p.precio) }}</p>
            <p><strong>Stock:</strong> {{ p.stock }}</p>

            <a class="btn" href="{{ url_for('producto', nombre=p.nombre) }}">
                Ver detalle
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}